{% load static %}
<html>
    <head>
        <title>Django Girls Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Sanchez' rel='stylesheet'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
      float: left;
    }
    li a {
      display: block;
      padding: 20px;
      background-color: #000000;
      color: #0dce00;
      font-family: Sanchez;
      text-shadow: #FC0 1px 0 10px;
    }
    li a:hover {
    color: #ffffff;
}
    ul {
      background-color: #000000;
      font-size: 25px;
    }
</style>
    </head>
    <body>
      <ul>
        <li><a href="#django_girls_blog">Django Girls Blog</a></li>
        </ul>
        <div class="page-header">
          {% if user.is_authenticated %}
          <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
          {% endif %}
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
